html {
    scroll-behavior: smooth;
}
:root {
    --main-color: hsl(38, 61%, 73%); 
    --padding : 20px 15px; 
}
/* start components */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Nunito", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.mainButton {
    padding: 10px 20px;
    margin: 10px;
    border: solid 1px var(--main-color);
    background-color: transparent;
    color: var(--main-color);
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}
.mainButton::before {
    content: "";
    position: absolute;
    top: -62px;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 150%;
    background: var(--main-color);
    border-radius: 50%;
    transition: .4s;
}
.mainButton:hover::before {
    top: -10px;
    transition: .3s;
}
.mainButton::after {
    content: "VIEW OUR MENU";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    color: black;
    font-weight: bold;
    transition: .1s;
}
.mainButton:hover::after {
    top: 50%;
    transition: .5s;
}
/* end components */

/* start nav top */
.mainNav {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
}
.navTop {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    color: white;
}
.navTop > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navTop .left .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid 2px var(--main-color);
    transform: rotate(45deg);
}
hr.navTopLine {
    color: var(--main-color);
    margin: 0;
}
@media (max-width : 991px) {
    .navTop {
        justify-content: center;
    }
    .navTop .left {
        display: none;
    }
}
/* end nav top */

/* start nav bottom */
.navBottom {
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    color: white;
}
.navBottom ul {
    gap: 20px;
}
.navBottom ul li a {
    transition: .4s;
    position: relative;
}
.navBottom ul li a::after {
    content: "";
    width: 0px;
    height: 5px;
    position: absolute;
    bottom: -60%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-top: var(--main-color) solid 1px;
    border-bottom: var(--main-color) solid 1px;
    transition: .4s;
}
.navBottom ul li a:hover::after {
    width: 100%;
}
.navBottom ul li a:hover {
    color: var(--main-color);
}
.navBottom button {
    padding: 10px 30px;
    border: solid 2px var(--main-color);
    background-color: var(--main-color);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    margin: auto 15px;
    position: relative;
    overflow: hidden;
}
.navBottom button::before {
    content: "";
    width: 126%;
    height: 205%;
    background-color: black;
    position: absolute;
    top: -205%;
    left: -26px;
    border-radius: 58%;
    transition: .4s;
}
.navBottom button::after {
    content: "FIND A TABLE";
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    color: white;
    transition: .2s;
}
.navBottom button:hover::before {
    top: -55%;
    transition: .2s;
}
.navBottom button:hover::after {
    top: 50%;
    transition: .4s;
}
.navBottom .menu {
    width: 26px;
    cursor: pointer;
}
.navBottom .menu span{
    display: block;
    width: 26px;
    height: 2px;
    background-color: white;
    margin: 6px;
}
.navBottom .menu .one {
    animation: spanOne .45s .3s ease-in-out infinite alternate backwards ;
}
.navBottom .menu .two {
    animation: spanTwo .45s .1s ease-in-out infinite alternate-reverse backwards;
}
.navBottom .menu .three {
    animation: spanThree .45s .2s ease-in-out infinite alternate-reverse backwards;
}
@keyframes spanOne {
    0% {
        width: 26px;
    }
    100% {
        width: 7px;
    }
}
@keyframes spanTwo {
    0% {
        width: 26px;
    }
    100% {
        width: 7px;
    }
}

@keyframes spanThree {
    0% {
        width: 26px;
    }
    100% {
        width: 7px;
    }
}
@media (max-width : 567px) {
    .navBottom .navbar button {
        display: none;
    }
}
@media (max-width : 1199px) {
  .navBottom .navbar ul {
    display: none;
  }  
  
}
@media (min-width : 1198px) {
    .navbar .menu {
        display: none;
      }
}
/* end nav bottm */

/* start section */
.section {
    position: relative;
    z-index: 0;
    height: 100vh;
}

.section img {
    height: 100vh;
    object-fit: cover;
}
.section .active img {
    animation: scale 7s ease-in-out infinite;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
.section .carousel > button span {
    width: 2rem;
    height: 2rem;
    border: solid 1px var(--main-color);
    rotate: 40deg;
    transition: .4s;
    display: inline-block;
}
.section button:hover span {
    background: var(--main-color);
}

.section .content {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    margin: auto;
    transform: translate(-50% , -50%);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 140px;
}
@media (max-width : 767px) {
    .section .carousel > button {
        display: none;
    }
    .section .carousel .content {
        width: 100vw;
        padding: 10px;
    }
}
.section .content .subTitle {
    display: inline-block;
    color: var(--main-color);
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 40px;
    font-weight: bold;
}
.section .content .subTitle::before {
    content: url(./images/separator.svg);
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
.section .content h1 {
    font-size: 7vw;
}
.section .rotated-img {
    position: absolute;
    bottom: 11px;
    right: 21px;
    z-index: 1;
    background-color: var(--main-color);
    width: 81px;
    height: 82px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 13px 0;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    gap: 7px;
    cursor: pointer;
}
.section .rotated-img::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    border: solid 1px var(--main-color);
    animation: rotated-img linear infinite 8s ;
    transform-origin: center;
}
@keyframes rotated-img {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* end section */